/* MovieReviews.css */
.movie-review-section {
  border-radius: 10px; /* Add rounded corners */
}

.movie-review-heading {
  font-size: 24px;
  border-bottom: 4px solid #007bff; /* Replace #007bff with your desired color */
  display: inline-block; /* Makes the border only as wide as the text */
}

.movie-reviews-list {
  display: flex;
  flex-direction: column;
}

.movie-review-item {
  border: 2px solid #ddd; /* MovieReviews.css */
  .movie-review-section {
    border-radius: 10px; /* Add rounded corners */
  }
  
  .movie-review-heading {
    font-size: 24px;
    border-bottom: 4px solid #007bff; /* Replace #007bff with your desired color */
    display: inline-block; /* Makes the border only as wide as the text */
  }
  
  .movie-reviews-list {
    display: flex;
    flex-wrap: wrap; /* Allow reviews to wrap to the next line if the container is not wide enough */
  }
  .review-username h3 {
    font-size: 24px;

  }
  
  .movie-review-item {
    border: 2px solid #ddd; /* Add a border between each review */
    border-radius: 5px;
    margin-right: 15px; /* Add spacing between reviews */
    margin-bottom: 15px;
    padding: 15px;
    flex: 1 0 calc(33.33% - 15px); /* Adjust the width of each review item to take up one-third of the container width */
    box-sizing: border-box;
  }
  
  .movie-review-item h3 {
    color: #007bff;
    font-size: 20px;
    margin-top: 5px;
  }
  
  .movie-review-item p {
    margin-top: 5px;
  }
  /* Add a border between each review */
  border-radius: 5px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}


.movie-review-item p {
  margin-left: 10px;
}
.star-rating {
  color:gold;
}

.rating-container {
  margin-left: 10px;
}
