/* review_form.css */

.review-form {
  margin-top: 20px;
}

.star-rating {
  display: flex;
}

.review-form h2 {
  font-size: 24px;
  border-bottom: 4px solid #007bff; /* Replace #007bff with your desired color */
  display: inline-block; /* Makes the border only as wide as the text */
}

.star-rating button {
  background: transparent !important; /* Use !important to ensure the style is applied */
  border: none;
  padding: 0;
  cursor: pointer;
}

.star-rating button .star-icon {
  font-size: 2rem;
  color: #ccc; /* Outline color for unfilled stars */
}

.star-rating button:hover .star-icon {
  color: gold; /* Filled star color on hover */
}

.star-rating button.filled .star-icon {
  color: gold; /* Filled star color */
}

.review-form textarea {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  resize: none;
  margin-bottom: 10px;
}

.review-form button {
  background: #007bff;
  font-size: 1rem;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.review-form button:hover {
  background: #0069d9;
}
.review-form-button-and-message {
  display: flex;
  justify-content: space-between;
}
.review-submitted-message {
  font-size: 1.2rem;
  color: white;
  margin-top: 5px;
}

.review-textfield {
  height: 400px; /* Adjust the height as needed */
}

@media (max-width: 600px) {
  .star-rating button {
    padding: 0px 7px;
  }  
  .star-icon {
    width: 25px;
  }
}