
.movie-content {
  display: flex;
  padding: 150px;
  position: relative;
  z-index: 2;
  height: 90vh;
}

.movie-detail-content{
  padding: 15px;
  width: 60%; /* Fill the width of its parent */
}

.favorite-button {
  background-color: #28a745; /* Green background color, you can customize */
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.background-image {
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: 1;
  
}

.relative-container {
  position: relative;
  height: 100vh;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}


.movie-poster {
  max-width: 600px;
  width: 100%; /* Responsive */
  height: auto;
  object-fit: contain;
  margin-bottom: 20px; /* Space between the poster and the trailer */
}

 .detail-title {
  font-size: 66px;
  margin: 0 0 10px 0;
}

.detail-release-date {
  font-size: 33px;
} 

.detail-flex-container {
  display: flex;
  align-items: center;
}

.genres-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.genre-tag {
  background: #007bff; /* Light blue background */
  border-radius: 20px; /* Rounded corners */
  padding: 5px 10px; /* Padding inside the box */
  margin-right: 10px; /* Space between boxes */
  margin-bottom: 10px; /* Space below each box, for when they wrap */
  font-size: 14px; /* Smaller font size */
  height: 20px; /* Fixed height for the box */
}


/* Container for the cast section, including arrows */
.cast-section {
  position: relative;
  width: 100%;
  max-width: 100%; /* This ensures it won't exceed the width of its parent container */
  margin: auto;
  padding-top: 15px;
  margin-left: 0; /* Align to the left edge of the container */
margin-right: 0; /* Remove any right margin if present */
}

.cast-heading {
  border-bottom: 4px solid #007bff; /* Replace #007bff with your desired color */
  display: inline-block; /* Makes the border only as wide as the text */
  padding-bottom: 5px; /* Adds some space between text and border */
}

/* Container for the cast members that allows horizontal scrolling */
.cast-container {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: scroll;
  padding: 20px 0;
  scroll-behavior: smooth;
  width: 100%;

}

/* Individual cast member item */
.cast-member {
  flex: 0 0 auto;
  width: 200px; /* Adjust as needed */
  margin-right: 10px;
}

/* Cast member poster wrapper */
.cast-poster-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}


/* Cast member poster */
.cast-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Cast member info */
.cast-info {
  position: absolute; /* Positioning the info over the image */
  bottom: 0; /* Aligning to the bottom of the poster */
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Solid black color with 60% opacity */
  color: white;
  padding: 5px; /* Padding inside the info box */
  text-align: center;
}


/* Cast member name */
.cast-name {
  font-size: 1rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cast-scroll-button {
  position: absolute;
  top: 64%; /* Center vertically */
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7); /* Slightly darker for better visibility */
  border: none;
  border-radius: 50%; /* Circular buttons */
  color: white;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Subtle shadow */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition for hover and active states */
}

.cast-scroll-button:hover {
  background-color: #007bff; /* Change color on hover */
  transform: translateY(-50%) scale(1.1); /* Slightly increase size */
}

.cast-scroll-button:active {
  transform: translateY(-50%) scale(0.9); /* Slightly decrease size when clicked */
}

/* Positioning for the left arrow */
.cast-scroll-button.left-arrow {
  left: 10px; /* Adjust as needed */
}

/* Positioning for the right arrow */
.cast-scroll-button.right-arrow {
  right: 10px; /* Adjust as needed */
}


/* Optional: Hide scrollbar for the cast container */
.cast-container::-webkit-scrollbar {
  display: none;
}

.cast-container {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
  scroll-behavior: smooth;
  width: 100%; /* Ensure it takes full width */
}

.favorite-button1{
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease; /* Add transition for background-color */
  border: none;
  cursor: pointer; /* Changes cursor to pointer on hover */

}

.favorite-button1:hover{
  background-color: #007bff81;
}

.trailer-container {
  width: 100%;
}


.movie-trailer-iframe {
  width: 100%;
  height: 300px; /* Adjust height as needed */
  border: none;
}

.poster-and-trailer-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center the children */
  margin-bottom: 20px; /* Space below the trailer */
}

@media (max-width: 1024px) {
  .movie-content {
    padding: 100px 20px 0 20px;
    flex-direction: flex; /* Stack children vertically */
    align-items: center; /* Align children in the center */
  }
  .detail-title {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
  .movie-poster {
    max-width: 400px;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .movie-content {
    padding: 100px 20px 0 20px;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Align children in the center */
  }
  .detail-title {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
  .movie-poster {
    object-fit: contain;
  }
  .movie-detail-content{
    padding: 0px;
    margin: 0px;
    width: 70%;
  }
  .background-image{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    position: absolute;
    height: 600px;
    width: 600px;
  }
  .gradient-overlay{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
  }
}

