

.group-container {
    display: flex;
    justify-content: space;
    align-items: center;
}

.group-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}

.group-profile {
    display: flex;
    flex-direction: column;
}
.groupName {
    display: flex;
    flex-direction: column;
    
    
  }
  
  .groupName h2 {
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
  }

.bio-buttons button{
    background-color: rgb(0, 132, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin-top: 10px;
}

.bio-buttons button:hover{
    background-color: rgb(23, 92, 148);
    color: white;
    border: none;
}


.group-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
    cursor: pointer; /* Changes cursor to pointer on hover */

}

.group-buttons button{

    border-radius: 5px;
    border: none;
    padding: 3px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    
}

.group-container{
    margin-bottom: 50px;
}


.group-buttons{
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.view-change{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.view-change::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: rgb(0, 132, 255);
    bottom: -8px;
    left: 0;
    transition: 0.5s;
}

.view-change.active-link::after{
    width: 40px;
}

.group-content {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.profile-content.active-tab {
    display: block;
}

.hidden {
    display: none;
  }

  .owner-tag {
    color: rgb(98, 238, 159);
    font-size: 0.8em;
    margin-left: 10px;
    margin-bottom: -3px;
  }

  .member-avatar {
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    margin-right: 10px; 
    margin-bottom: -8px;
    cursor:pointer;
}

.member-name {
    cursor:pointer;

}



.members-list {
    display: flex;
    flex-direction: column;
    margin-left: 550px;
    margin-top: 20px;
}

.member-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.member-joined-date{
    color: silver;
    font-size:0.7em;
    margin-left: 10px;
    margin-bottom: -4px;
}

.deleteMember button{
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin-left:10px
}

@media (max-width: 600px){
.view-change {
    font-size: 16px;
    margin: 0px 0px 0px;
  }
  .group-buttons {
    margin: 10px
  }
  .group-content h2{
    margin-top: 60px;
    font-size: 16px;
  }
  .members-list{
    padding-left: 0px;
    margin-top: 60px;
    margin-left: 150px;
  }
  .group-content p{
    font-size: 16px;
    margin-top: 60px;
  }
}
  
.deleteMember{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 4px;
}
.deleteMember button{
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin-top: 10px;
}

.deleteMember button:hover{
    background-color: rgb(187, 12, 12);
    color: white;
    border: none;
}

.leaveGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 4px;
}

.leaveGroup button{
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin-top: 10px;
}

.leaveGroup button:hover{
    background-color: rgb(187, 12, 12);
    color: white;
    border: none;
}

.group-description p{
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.group-description button{
    background-color: rgb(0, 132, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin-top: 10px;
}
.group-description button:hover{
    background-color: rgb(23, 92, 148);
    color: white;
    border: none;
}

.edit-description textarea{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.edit-description textarea input{
    border-radius: 5px;
    border: none;
    padding: 1px;
    margin-bottom: 1px;
    margin-top: 10px;
}

.edit-description-buttons button{
    background-color: rgb(0, 132, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
}

.edit-description-buttons button:hover{
    background-color: rgb(23, 92, 148);
    color: white;
    border: none;
}

.group-description-header p{
    margin: 5px 0;
    font-size: 20px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.group-description-header{
    margin-top: 100px;
    margin-bottom: 100px;
}


.message-avatar {
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    margin-right: 10px; 
  }

.request-buttons button {
    background-color: rgb(0, 132, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
}

.request-buttons button:hover{
    background-color: rgb(23, 92, 148);
    color: white;
    border: none;
}

.join-request-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px 0 200px;
    border-bottom: 2px solid rgb(0, 132, 255);
    padding-bottom: 10px;

}

