/* NewsPage.css */
.news-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #252525;
  color: #007bff;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

select:hover {
  border-color: #0056b3;
  background-color: #252525;
}

select:focus {
  outline: none;
  border-color: #0056b3;
  background-color: #252525;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.news-list {
  list-style-type: none;
  padding: 0;
}

.news-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 20px;
}

.news-item:last-child {
  border-bottom: none;
}

.news-title {
  font-size: 1.5em;
  color: #007bff;
}

.news-description {
  font-size: 1.1em;
  color: #ffffff;
  margin: 10px 0;
}

.news-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item a {
  text-decoration: none;
  color: #007bff;
}

.finnkino-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finnkino-navigation button{
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.news-container h1 {
  margin: 0;
  font-size: 2em;
  color: #007bff;
}
/* Add more styles as needed */
