.top-bar {
  border-bottom: 5px solid #007bff;
  background-color: black;
  color: #007bff;
  max-width: 1475px; /* Set a maximum width */
  padding: 10px 20px; /* Adjust the padding values */
}

.login-link {
  top: 20px;
  right: 20px;
  size: 1px;
}

.login-link a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1.2rem;
}

.login-link a:hover {
  background-color: #fff;
  color: #007bff;
}

