.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 5px solid #007bff;
  background-color: black;
  color: #007bff;
}

.topbartitle {
  font-size: 15px;
}

/* Additional styles if needed */


.button-container {
  display: flex;
  gap: 20px;
}

.profile-link a,
.custom-button a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;

}

.profile-link a:before,
.custom-button a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.profile-link a:hover:before,
.custom-button a:hover:before {
  transform: scaleX(1);
}

.login-link a,
.logout-link a {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease; /* Add transition for background-color */


}

.login-link a:hover,
.logout-link a:hover {
  background-color: #007bff81; /* Slightly darker background on hover */
}

@media (max-width: 768px) {
  .topbartitle {
    font-size: 10px;
  }
}

.text-white {
  color: #fff; /* White color for 'Elokuva' */
}

.text-blue {
  color: #007bff; /* Blue color for 'kerho', same as existing color */
}

/* ... existing styles ... */

.custom-button a, .profile-link a, .login-link a, .logout-link a {
  font-weight: 500; /* Semi-bold */
}
