.profile-container {
  display: flex;
  justify-content: space;
  align-items: center;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
}

.username {
  display: flex;
  flex-direction: column;


}

.username h2 {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 500;

}

.share-button button {
  background-color: rgb(0, 132, 255);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  /* Changes cursor to pointer on hover */

}

.share-button button:hover {
  background-color: rgb(23, 92, 148);
  color: white;
  border: none;
}

.edit-button button {
  background-color: rgb(0, 132, 255);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  /* Changes cursor to pointer on hover */

}

.edit-button button:hover {
  background-color: rgb(23, 92, 148);
  color: white;
  border: none;
}

.bio-buttons {
  display: flex;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  cursor: pointer;
  /* Changes cursor to pointer on hover */
}

.profile-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 80px;
  margin-top: 30px;
  cursor: pointer;
  /* Changes cursor to pointer on hover */

}

.profile-buttons button {

  border-radius: 5px;
  border: none;
  padding: 3px;
  cursor: pointer;
  width: 150px;
  height: 30px;

}

.container {
  margin-bottom: 50px;
}


.profile-buttons {
  color: rgb(255, 255, 255);
  display: flex;
  margin: 40px 0 40px;
}

.view-change {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.view-change::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: rgb(0, 132, 255);
  bottom: -8px;
  left: 0;
  transition: 0.5s;
}

.view-change:hover::after, /* This will show the pseudo-element when hovering */
.view-change.active-link::after {
  width: 40px;
}

.profile-content {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.profile-content.active-tab {
  display: block;
}

.hidden {
  display: none;
}

.favorites-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  /* Use flex-wrap for wrapping items */
  justify-content: center;
  /* Center items horizontally */
  align-items: center;
  /* Center items vertically (if needed) */
  gap: 8px;
  /* Spacing between flex items */
  margin: 0 auto;
  /* Center the container */
  padding: 18px;
  /* If you want some padding inside the container */
}

.favorites-movie-card {
  position: relative;
  width: 300px;
  /* Adjust width as needed */
  height: 450px;
  /* Adjust height as needed */
  cursor: pointer;
  overflow: hidden;
  /* Ensures that nothing goes outside this container */

}

.favorites-movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensures the image covers the area nicely */
  border-radius: 0;
  /* Remove border radius for no rounded corners */
}

.favorites-movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  /* Initially hidden */
  transition: opacity 0.3s ease-in-out;
}

.favorites-movie-card:hover .favorites-movie-info {
  opacity: 1;
  /* Show on hover */
}


/* Styling for the title, release date, and rating */
.favorites-movie-title,
.favorites-movie-release-date,
.favorites-movie-rating {
  font-size: 1rem;
  margin: 0;
  white-space: nowrap;
  /* Prevents the text from wrapping to the next line */
  overflow: hidden;
  /* Hides overflow text */
  text-overflow: ellipsis;
  /* Adds an ellipsis to truncated text */
  width: 180px;
  text-align: left;
}

.review-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  margin: 10px;
  width: 450px;
}

.review-content {
  margin-bottom: 0px;
  padding-left: 10px;
}

.movie-poster-container {
  flex-shrink: 0;
  /* Prevent the image from shrinking */
  margin-right: 10px;
  /* Adjust margin as needed */
  ;
  cursor: pointer;
}

.browse-movie-poster {
  width: 100%;
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 8px;
  /* Adjust as needed */
}

.review-by p {
  margin: 0;
  /* Reset margin for the paragraph */
  margin-left: 10px;
  /* Added margin-left property */
}

.profile-review-text p {
  margin: 0;
  /* Reset margin for the paragraph */
  margin-top: 10px;
}

.profile-review-text {
  text-align: left;
  align-items: left;
  position: relative;
  /* Add relative positioning */
}

.profile-review-text p {
  margin: 0;
  /* Reset margin for the paragraph */
  margin-top: 10px;
}

.profile-review-date {
  align-items: left;
  text-align: left;
}

.review-container p {
  font-size: 16px;
}

.profile-review-username {
  color: rgb(0, 132, 255);
  align-items: left;
  text-align: left;
  padding-left: 10px;
}

.rowed-reviews-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.read-more-container {
  display: flex;
  justify-content: center;
  /* Center the button horizontally */
  margin-top: 10px;
  /* Adjust the top margin as needed */
}

.read-more {
  background-color: rgb(0, 132, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* Changes cursor to pointer on hover */
  padding: 5px 10px;
  /* Add padding to the button */
}

.review-username {
  display: flex;
  margin-left: 10px;
  color: rgb(0, 132, 255);
}

.review-profile-image {
  display: flex;
  flex-direction: column;
}

.review-profile-image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 0px;
  padding-right: 10px;
}

.review-userdata-container {
  margin-bottom: 10px;
}

.bio-top-right {
  margin-left: 100px;

}

.bio-text-container {
  min-height: 100px;
  min-width: 700px;
  border: 2px solid rgb(0, 132, 255);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;

}

.bio-text-outline {
  margin: 0;
}

/* Styling for the posts input area */
.posts {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%; /* Adjust the width as needed */
  margin-left: auto;
  margin-right: auto;
  background-color: #1a1a1a; /* Dark background for the form */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Darker shadow for contrast */
  border: 2px solid #007bff; /* Light blue border */
  

}

.posts textarea {

  flex-grow: 1;
  width:90%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #555; /* Adjusted border color */
  border-radius: 4px;
  background-color: #2a2a2a; /* Slightly darker background for better contrast */
  color: #ddd; /* Light text for readability */
  font-size: 1em; /* Adjust font size as needed */
  line-height: 1.5; /* Improve line spacing for better readability */
  resize:none;
}


.posts button {
  padding: 10px 20px; /* Increased padding for a larger button */
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Primary light blue color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em; /* Adjust font size as needed */
  font-weight: bold; /* Bold font for prominence */
}

.posts button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

/* Styling for individual posts */
.user-post {
  position: relative;
  background-color: #1a1a1a; /* Dark background for each post */
  color: #ddd; /* Light text for readability */
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Darker shadow for contrast */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.user-post p {
  font-size: 1.1em; /* Slightly larger font for readability */
  margin-bottom: 10px; /* Space between post text and timestamp */
}

.user-post span {
  font-size: 0.9em;
  color: #666; /* Light grey color for timestamp */
}

.user-post .delete-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 3px; /* Smaller border radius for a subtler round effect */
  padding: 3px 7px; /* Smaller padding to reduce overall button size */
  font-size: 0.8em; /* Smaller font size */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.user-post:hover .delete-btn {
  display: block;
}

.user-post .delete-btn:hover {
  background-color: #ff3333;
}







@media screen and (max-width: 600px) {
  .edit-button button,
  .share-button button {
    width: 65px;
    height: 65px;
  }

  .bio-buttons {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the min-width here */
    grid-gap: 10px;
    cursor: pointer;
  }

  .bio-text-container {
    max-width: 200px;
    min-width: 200px; /* Set to 100% to allow it to take the full width of the screen */
    min-height: 130px;
    overflow-x: hidden;
  }

  .profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .profile-container {
    align-items: center;
  }
  .bio-top-right {
    margin-left: 20px;
  }
}
