body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.top-bar {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.separator {
    border: 3px solid rgb(0, 132, 255);
    margin: 0;
    width: 100%;
}

h1 {
    margin: 0px;
    color: rgb(0, 132, 255);

}

nav {
    display: flex;
    color: white;
}

nav p {
    margin: 0 20px;
    cursor: pointer;
    color: white;
    font-size: 1em;
    justify-content: space-between;
}

h2 {
    color: white;
    margin-left: 100px;
   font-size: 2em;
   margin-top: 200px;
}

h3 {
    color: white;
   margin-left: 1100px;
   font-size: 2em;
   margin-top: -60px;
}
h4 {
    color: white;
    margin-right: 10px; /* Adjust the margin-right value to move it to the right */
    margin-top: 100px;
    margin-left: 100px;
    font-size: 1.5em;
}

.label-container {
    position: relative;
    display: flex;
    align-items: center;
}

input {
    width: 300px; /* Set a specific width for the search bar */
    margin-top: 75px;
    height: 20px;
    margin-left: 20px;
}

/* Center the search bar horizontally */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
