
.group_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .group_container .group-name,
  .group_container .group-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  

  .group_container input {
    width: 400px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px; /* Adjust margin here */
  }
 
    .group_container textarea {
        max-width: 400px;
        min-width: 400px;
        max-height: 200px;
        min-height: 100px;
        border-radius: 5px;
        border: 1px solid #cccccc;
        padding: 5px;
        margin-top: 5px; /* Adjust margin here */
    }
    