/* Default styles for larger screens */
.start-page {
  padding: 50px 80px 50px 80px;
}

.movie-heading {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.movie-heading::after {
  content: '';
  display: block;
  width: 50%;
  height: 4px;
  background-color: #007bff;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 600px) {
  .start-page {
    padding: 0px;
    margin: 20px;
  }

  .movie-heading {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }

  .movie-heading::after {
    width: 30%; /* Adjust the underline length for smaller screens */
  }
}
